
@{
    ViewBag.Title = "Weapon";
    var w = Model.Weapon;
}
<h2>@w.Manafacturer.Name @w.Model</h2>
<div class="col-md-12">
    <table class="table">
        @foreach (var spec in Model.Specs)
        {
            <tr>
                <td style="font-weight: bold;">@spec.Name</td>
                <td>@spec.Value</td>
            </tr>
        }
    </table>

    <input type="button" value="Назад" class="btn btn-group" onclick="location.href='@Request.UrlReferrer'" />
    <input type="button" value="Купи1" class="btn btn-danger" onclick="location.href='Views.Order.OrderForm.@w.Id'" />
    <a href="Views.Shared.OrderForm.@w.Id" class="btn btn-danger">Купи2</a>
    @Html.ActionLink("Kupi3", "OrderForm", "Order")
</div>
